spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
server:
  port: 8080
cors:
  allowed:
    origins: ${CORS_ALLOWED_ORIGINS:https://yourdomain.com}
